---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---


Currently working with Prof. Frederic Guichard (McGill University) and Prof. Marie-Josee Fortin (University of Toronto) 
to exploring the role of community structure and dispersal coupling among different habitats affect (1) the emergence of 
pattern at biogeographic scale and (2) the consequences of these patterns on persistence and stability of coastal populations 
and communities in fragmented habitats resulting for marine reserve networks. My Ph.D thesis aim to disentangle the complex 
interactions between species pelagic traits and physical ocean currents, the different pathways throughout which climate 
change can affect such interactions, and proposes a new framework for marine protected areas robust to varying environmental 
conditions including climate change. 


Projects:
+ [Evolutionary History of Microbial Traits](#evolutionary-history-of-microbial-traits)
+ [Modeling Microbe-Resource Interactions](#modeling-microbe-resource-interactions)
+ [Microbial Responses to Altered Resource Inputs](#microbial-responses-to-altered-resource-inputs)
+ [Microbial Responses to Resource Heterogeneity](#microbial-responses-to-resource-heterogeneity)
+ [Other Projects](#other-projects)

---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


