---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---


Currently working with Prof. Frederic Guichard (McGill University) and Prof. Marie-Josee Fortin (University of Toronto) 
to exploring the role of community structure and dispersal coupling among different habitats affect (1) the emergence of 
pattern at biogeographic scale and (2) the consequences of these patterns on persistence and stability of coastal populations 
and communities in fragmented habitats resulting for marine reserve networks. My Ph.D thesis aim to disentangle the complex 
interactions between species pelagic traits and physical ocean currents, the different pathways throughout which climate 
change can affect such interactions, and proposes a new framework for marine protected areas robust to varying environmental 
conditions including climate change. 



Ongoing Projects:
+ [Metapopulations dynamics, populations fluctuations, and stochastic dispersal ](https://ridouanbani.github.io/portfolio/portfolio-1/)
+ [Climate change and marine metapopulation: The dispersal mediated effects](https://ridouanbani.github.io/portfolio/portfolio-3/)
+ [Marine protected areas network in a varrying environment: Where, how big and distant?](https://ridouanbani.github.io/portfolio/portfolio-3/)

Past Projects:
+ [Influence of environmental factors on college alcohol drinking patterns](https://ridouanbani.github.io/portfolio/portfolio-4/)
+ [Other Projects](#other-projects)



---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


